.App {
  text-align: center;
  background-color:navajowhite;
  color:saddlebrown;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.menu {
  margin: 20px;
  border: 20px;
} 

.favorite-icon{
  margin: 45px;
  height: 20px;
  width: 25px;
}

/* .cardimg{
  height: 375px;
  width: 100%;
} */

row{
  margin: 20px;
}



.container {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}


.logo{
  width: 375px;
  height: 384px;
  color: navajowhite;
}

.manager{
  width: 375px;
  height: 384px;
}

/* Card and Image Styling for Coffee and Merchandise*/

/* Ensure the container is responsive */
.image-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto; /* Optional: Center the container */
}

/* Responsive image styling */
.cardimg {
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: block; /* Ensures the image doesn't have any inline-block gaps */
} 

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

/* Basic card styling */
.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin: 12px;
}

/* Card image styling */
.cardimg {
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: block;
  object-fit: fill;
}

/* Card body styling */
.card-body {
  padding: 16px;
}

/* Hover effect */
.card:hover {
  transform: scale(1.05);
}
